.background {
  background-color: rgb(28, 28, 28);
  border-radius: 100%;
  transition: background-color ease-in-out 300ms;
  padding: 4px;
}

.background:hover {
  background-color: var(--bright-orange-color);
}

.container:hover p{
  color: var(--bright-orange-color);
}

.container p{
  transition: color ease-in-out 300ms;
}

.imgIcon {
  width: 40px;

 height:40px;
}

.container {
  display: flex;
  padding:5px 20px;
  
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1rem 0;
}
