.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8rem 0;
}

.heading {
  font-size: xx-large;
  font-weight: bolder;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color ease-in-out 300ms;
}

.heading:hover {
  color: var(--bright-orange-color);
}

.hr {
  width: 3rem;
  height: 5px;
  border: 0;
  margin: 1rem 0;
  background-color: var(--bright-blue-color) !important;
  border-radius: 20px;
  transition: background-color ease-in-out 300ms;
}

.projectLists {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: large;
  }
}
