.image {
  height: 400px;
  object-fit: cover;
}

.hr{
  width: 2rem;
  border: 0;
  background-color: var(--bright-orange-color);
  height: 5px;
  margin: 1rem 0;
  border-radius: 20px;
  transition: background-color ease-in-out 300ms;
} 

.carousel-control-next {
  display: none !important;
}

.carousel-control-prev {
  display: none !important;
}

.carousel-indicators {
  display: none !important;
}


.container {
  position: relative;
   max-width: 23%; 
    border: 2.5px solid black;
  flex-direction: row;
  display: flex;
  /* border:1px solid red; */
  color: #000; 
  justify-content: center;
  height: 100%;
  align-items: stretch;
}

.carousel {
  width: 100% !important; /* Ensure the carousel takes the full width of the container */
  height: 400px !important; /* Set a fixed height for the carousel */
}

.carousel-item {
width: 100% !important; /* Ensure the carousel item takes the full width of the container */
  height: 100% !important; /* Ensure the carousel item takes the full height of the container */
}


.innerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  min-height: 100%;
  align-items: center;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  transition: color ease-in-out 300ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heading:hover{
  color:var(--bright-orange-color);
}

.innerContent p{
  font-size: small;
}

.downloadLink {
  margin-top: 0.9rem;
  transition: background-color ease-in-out 300ms, color ease-in-out 300ms;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 0.4rem;
  width: 100%;
  border-radius: 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadLink img {
  width: 30px;
  margin-right: 10px;
}

.downloadLink:hover {
  background-color: var(--bright-blue-color);
  color: black;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: none;
  }
}
