.card {
  border: 2px solid var(--bright-blue-color) !important;
  transition: border-color ease-in-out 300ms;
  width: 100% !important;
  margin: 1rem 0;
}

.card:hover {
  border-color: var(--bright-orange-color) !important;
}

.button {
  background: transparent !important;
  color: black !important;
  border: 2px solid var(--bright-blue-color) !important;
}

.button:hover {
  background: var(--bright-orange-color) !important;
  border-color: var(--bright-orange-color) !important;
  color: white !important;
}

.img {
  object-fit: contain;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
