.navigation {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  position: fixed !important;
  color: white;
  font-size: medium !important;
  z-index: 20;
  height: 4.5rem;
  transition: background-color ease-in-out 300ms;
}

.bebas_neue_regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainNav {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0.5rem 2rem 0 2rem;

  width: 100% !important;
}

.pageProgress {
  content: " ";
  background-color: var(--bright-orange-color);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
}

.svgMenu {
  width: 40px;
  height: fit-content;
}

.dropDownButton {
  background: transparent;
  height: auto;
  border: 0;
}

.dropDown {
  background-color: #151515;
}

.dropDown ol {
  list-style: none;
}

.dropDown ol li {
  padding: 1rem 1.5rem;
  border: 0;
  font-weight: bold;
  transition: background-color ease-in-out 300ms;
  border-radius: 20px;
}

.dropDown ol li:hover {
  background-color: var(--bright-blue-color);
}

.svgMenu path {
  stroke: #fff;
}

/* .logoImage {
  width: 5rem;
} */

.logoBackground {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: xx-large;
}

.logoBackground h1 {
  transition: color ease-in-out 300ms, text-shadow ease-in-out 100ms;
  font-size: xx-large !important ;
}

.logoBackground:hover h1 {
  text-shadow: 0px 0px 40px var(--bright-orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBackground:hover {
  color: var(--bright-blue-color);
}
