.background {
  background: rgb(37, 37, 37) !important;
  color: white !important;
  width: 100% !important;
}

.list div {
  background-color: var(--bright-blue-color);
  transition: background-color ease-in-out 300ms;
  color: #fff;
}

.list div:hover {
  background-color: var(--bright-orange-color);
}

.menuIcon {
  width: 30px;
  filter: invert(1);
}

.menuButton {
  background: transparent !important;
  border: 0 !important;
}

.menuButton:hover {
  scale: 1.2;
}

@media screen and (min-width: 767px) {
  .list {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    align-items: end;
  }

  .list div {
    background-color: transparent !important;
    transition: background-color ease-in-out 300ms;
    font-size: small;
    border: 0;
    border-radius: 50px !important;
    font-weight: bold;
    margin: 0 0.2rem;
    display: flex;
    padding: 1rem !important;
    justify-content: center;
    align-items: center;
  }

  .list div:hover {
    background-color: var(--bright-orange-color) !important;
    border-color: transparent !important;
  }

  .body {
    align-items: flex-end !important;
    justify-content: flex-end;
  }

  .menuButton {
    display: none !important;
  }
}
