:root {
  --bright-blue-color: rgb(0, 0, 255);
  --dark-blue-color: #002699;
  --darkish-white: #eff3ff;
  --bright-orange-color: #ff9900;
  --dark-orange-color: #b36b00;
  --min-table-screen: 789px;
}

::-webkit-scrollbar {
  background-color: var(--dark-blue-color) !important;
  border: 0 !important;
  outline: none;
}

::-webkit-scrollbar-thumb {
  background: var(--bright-orange-color) !important;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  max-width: 100vw;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.btn-close,
.btn-close::after,
.btn-close::before {
  color: white !important ;
  background-color: white !important;
}

* {
  scroll-behavior: smooth;
}

.Warning {
  color: red !important;
}

.Warning:hover {
  color: var(--bright-orange-color) !important;
}
