.list a,
.list h1 {
  color: #fff;
  transition: color ease-in-out 300ms;
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 4rem !important;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  padding: 1rem;
  text-align: start;
  transition: color ease-in-out 300ms;
}

.list li a:hover {
  color: var(--bright-orange-color);
}

.footer {
  margin: 0;
  color: white;
  padding: 0;
}

.container {
  background-color: black;
  transition: background-color ease-in-out 300ms;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  background-color: black;
  padding: 3rem 0;
  transition: background-color ease-in-out 300ms;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright p {
  margin: 1rem;
}

.copyright:hover {
  background-color: var(--bright-orange-color);
  /* color: var(--bright-blue-color); */
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    align-items: start;
    padding: 1rem 0;
  }

  .list h1 {
    font-size: medium;
    font-weight: bold;
  }

  .list {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 380px) {
  .container a {
    font-size: small;
  }
}
