.landingPage {
  height: 50vh;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: start !important;
  align-items: start !important;
  color: #fff;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.landingList {
  list-style: none;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.landingList li {
  margin: 1rem;
}

.seeMore,
.contactMe {
  border-color: var(--bright-orange-color) !important;
  color: #fff !important;
  border-radius: 7px !important;
}

.seeMore:hover,
.contactMe:hover {
  background-color: var(--bright-orange-color) !important;
  color: #fff !important;
}

@media screen and (min-width: 768px) {
  .landingPage {
    height: 100vh;
    justify-content: center !important;
    padding-left: 8rem;
  }

  .seeMore,
  .contactMe {
    padding: 1rem !important;
    font-size: small !important;
    font-weight: bolder !important;
  }
}
