.landingPage {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  border: 0;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  color: #fff;
  padding-bottom: 2rem;
  text-align: center;
  max-width: 100%;
  height: 100vh;
}

.landingList {
  list-style: none;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.landingList li {
  margin: 1rem;
}

.seeMore,
.contactMe {
  border-color: var(--bright-orange-color) !important;
  color: #fff !important;
  border-radius: 7px !important;
}

.seeMore:hover,
.contactMe:hover {
  background-color: var(--bright-orange-color) !important;
  color: #fff !important;
}

@media screen and (min-width: 768px) {
  .landingPage {
    height: 100vh;

    justify-content: center !important;

    padding-left: 8rem;
  }

  .seeMore,
  .contactMe {
    padding: 1rem !important;
    font-size: small !important;
    font-weight: bolder !important;
  }
}

@media screen and (max-width: 767px) {
  .landingPage {
    height: 100vh;

    width: 100%;

    justify-content: center !important;
    align-items: center;
  }

  .contentText {
    align-self: center;
    text-align: center;
  }

  .contentText h1 {
    display: inline-block;
  }

  .loveList {
    display: inline-block;
    width: 50px !important;
    height: 10px !important;
  }

  .seeMore,
  .contactMe {
    padding: 0.6rem !important;
    font-size: x-small !important;
    font-weight: bolder !important;
  }
}

@media screen and (max-width: 380px) {
  .landingPage {
    height: 50vh;
  }
}
