.navigation {
  padding: 0 !important;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  position: fixed !important;
  color: white;
  z-index: 20;
  transition: background-color ease-in-out 300ms;
}

.mainNav {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100% !important;
}

.pageProgress {
  content: " ";
  background-color: var(--bright-orange-color);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
}

.svgMenu {
  width: 40px;
  height: fit-content;
}

.dropDownButton {
  background: transparent;
  height: auto;
  border: 0;
}

.dropDown {
  background-color: #151515;
}

.dropDown ol {
  list-style: none;
}

.dropDown ol li {
  padding: 1rem 1.5rem;
  border: 0;
  font-weight: bold;
  transition: background-color ease-in-out 300ms;
  border-radius: 20px;
}

.dropDown ol li:hover {
  background-color: var(--bright-blue-color);
}

.svgMenu path {
  stroke: #fff;
}

.logoImage {
  width: 5rem;
}

.logoBackground {
  padding: 0.4rem;
}

@media screen and (min-width: 767px) {
  .navigation {
    min-height: 4rem;
  }
}
