.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 22rem));
  grid-template-rows: auto;
  width: 100%;
  gap: 10px;
  padding-bottom: 4rem;
}

.entireContainer{
background-color: rgb(28, 28, 28) ;
  position: relative;
  /* padding: 10px 0; */
  /* transform: rotateZ(10deg); */
}

.entireContainer::before{
  content: "";
  background-color: rgb(28, 28, 28);
  width: 100% !important;
  top: -30px;
  left: 0;
  right: 0;
  position: absolute;
  height: 58px;
  transform: skewY(-2deg);
}

.entireContainer::after{
  content: "";
  background-color: rgb(28, 28, 28);
  width: 100% !important;
  bottom: -30px;
  left: 0;
  right: 0;
  position: absolute;
  height: 58px;
  transform: skewY(-2deg);
}

.header {
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  margin-top: 7rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: color ease-in-out 300ms;
}

.header:hover {
  color: var(--bright-orange-color);
}

.textDescription {
  text-align: center;
  margin: 1rem;
  color: #fff;
}

.card {
  width: 70% !important;
  margin: 1rem 0;
  border-radius: 0px !important;
  text-align: center;
  border: 2px solid black !important;
  transition: border ease-in-out 300ms;
  align-self: center;
  justify-self: center;
}

.cardTitle {
  font-size: medium !important;
}

.cardSubDescription {
  font-size: small !important;
}

.cardDescription {
  font-size: small;
}

.card:hover {
  border-color: var(--bright-orange-color) !important;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hr {
  width: 3rem;
  height: 5px;
  border: 0;
  margin: 1rem 0;
  background-color: var(--bright-blue-color) !important;
  border-radius: 20px;
  transition: background-color ease-in-out 300ms;
}

.cardLinkGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content:center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  gap: 10px;
}

.cardLink {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  background-color: rgb(28, 28, 28);
  color: white;
  transition: background-color ease-in-out 300ms;
  font-weight: bold;
  font-size: x-small;
  width: 100%;
  padding: 0.5rem 1rem;
  
}

.cardLink:hover {
  background-color: var(--bright-orange-color);
}

@media screen and (max-width: 767px) {
  .container {
    align-content: center;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: large;
  }

  .cardLink {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 380px) {
  p {
    font-size: small;
  }
}
