.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 22rem));
  grid-template-rows: auto;
  width: 100%;
  gap: 10px;
}

.header {
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: color ease-in-out 300ms;
}

.header:hover {
  color: var(--bright-orange-color);
}

.textDescription {
  text-align: center;
  margin: 1rem;
}

.card {
  width: 70% !important;
  margin: 1rem 0;
  border-radius: 0px !important;
  text-align: center;
  border: 2px solid black !important;
  transition: border ease-in-out 300ms;
  align-self: center;
  justify-self: center;
}

.cardTitle {
  font-size: medium !important;
}

.cardSubDescription {
  font-size: small !important;
}

.cardDescription {
  font-size: small;
}

.card:hover {
  border-color: var(--bright-orange-color) !important;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hr {
  width: 3rem;
  height: 5px;
  border: 0;
  margin: 1rem 0;
  background-color: var(--bright-blue-color) !important;
  border-radius: 20px;
  transition: background-color ease-in-out 300ms;
}

.cardLinkGroup {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cardLink {
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: white;
  transition: color ease-in-out 300ms;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: x-small;
  padding: 0.7rem;
  align-self: center;
  justify-self: center;
  margin-left: 0;
}

.cardLink:hover {
  background-color: var(--bright-orange-color);
}

.cardLink:hover {
  color: var(--bright-orange-color);
}

@media screen and (max-width: 767px) {
  .container {
    align-content: center;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: large;
  }

  .cardLink {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 380px) {
  p {
    font-size: small;
  }
}
