.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--darkish-white);
}

.header {
  margin-top: 7rem;
  font-size: xx-large;
  font-weight: bolder;
}

.leftMargin {
  margin-left: 1rem;
}

.headerContactInfo {
  font-weight: bolder;
  font-size: xx-large;
}

.contactInfo {
  margin-bottom: 7rem;
  margin-top: 3rem;
}

.contactInfo ul {
  list-style: none;
}
