.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--darkish-white);
}

.contact {
  color: var(--bright-blue-color);
  transition: color ease-in-out 300ms;
  text-decoration: none;
}

.contact:hover {
  color: var(--bright-orange-color) !important;
}

.about {
  padding-top: 4rem;
  text-align: center;
  font-weight: bold;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: color ease-in-out 300ms;
}

.about:hover {
  color: var(--bright-orange-color);
}

.header {
  margin-top: 2rem;
  font-size: xx-large;
  font-weight: bolder;
}

.leftMargin {
  margin-left: 1rem;
}

.headerContactInfo {
  font-weight: bolder;
  font-size: xx-large;
}

.contactInfo {
  margin-bottom: 7rem;
  margin-top: 3rem;
}

.contactInfo li {
  list-style: none;
}

.contactInfo ul {
  list-style: none;
}

.hr {
  width: 3rem;
  height: 5px;
  border: 0;
  margin: 1rem 0;
  background-color: var(--bright-blue-color) !important;
  border-radius: 20px;
  transition: background-color ease-in-out 300ms;
}

.about:hover .hr {
  background-color: var(--bright-orange-color) !important;
}

@media screen and (min-width: 767px) {
  .about {
    font-size: 4rem;
  }
}
